:root {
    --dark-background: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --button: #3882F6;
    --info-header: #1F2937;
    --quote-background: #E5E7EB;
    --quote-text: #1F2937;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: solid 1px red;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* navigation bar styling */

.flex-container {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    background-color: var(--dark-background);
}

.navigation {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
    margin-right: 10rem;
}

nav img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-left: 10rem;

}

nav a {
    color: var(--main-text);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    display: block;
}

nav a:hover {
    color: var(--button);
    text-decoration: underline;
}

/* awesome section styling */

.awesome-section {
    display: flex;
    height: 500px;
    background-color: var(--dark-background);
    color: var(--secondary-text);
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}

.awesome-section div {
    margin: 0rem 10rem;
}

.awesome-section h2 {
    color: var(--main-text);
    font-size: 48px;
    margin-bottom: 5rem;
}

.awesome-section h2 span {
    display: block;
}

.awesome-section button {
    width: 9rem;
    height: 2.5rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: var(--button);
    color: var(--main-text);
    font-size: 15px;
    font-weight: bolder;
}

.awesome-section button:hover {
    color: var(--button);
    background-color: var(--main-text);
}

.awesome-section button:active {
    background-color: magenta;
}

/* info section styling */

.info-section {
    height: 500px;
}

.info-section h2 {
    text-align: center;
    margin: 3rem 0rem;
    font-size: 36px;
    font-weight: bold;
}

.info-section-flex-container {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 5rem;
}

.info-section-flex-container li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.info-section-flex-container img {
    width: 200px;
    height: auto;
    border: solid 5px var(--button);
    border-radius: 15px;
}

.info-section-flex-container p {
    font-size: 18px;
    width: 200px;
    text-align: center;
}

/* testimonial section styling */

.testemonial-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: var(--quote-background);
    font-size: 36px;
}

.testemonial-section p {
    width: 60%;
    text-align: justify;
}

.testemonial-section p:last-child {
    font-size: 30px;
    font-weight: bold;
    text-align: end;
}

/* action section styling */

.action-section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-text);
}

.action-flex {
    display: flex;
    width: 60%;
    height: 40%;
    border-radius: 15px;
    background-color: var(--button);
    justify-content: space-around;
    align-items: center;
}

.action-flex button {
    color: var(--main-text);
    background-color: var(--button);
    width: 9rem;
    height: 3rem;
    border: solid 2px var(--main-text);
    border-radius: 10px;
    font-size: 18px;
}

.action-flex button:hover {
    color: var(--button);
    background-color: var(--main-text);
}

.action-flex button:active {
    background-color: magenta;
}